body {
    background-color: #D6EBF2;


}

/*sidebar*/
ul li {
    font-size: 15px;
    cursor: pointer;
}

/*Navbar*/
.circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid white;
    background-color: red;

}
.sidebar ul li img{
width: 1.5rem;
}
.sidebar ul {
  margin-top: 24px;
}
.sidebar  span{
    font-size: 16px;
}
.icon {
    width: 160%;
}


.roug {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin: auto;
    background-color: #83b8c2;
}

/*dashboard */
.fonc {
    background-color: #4A96A6;
    border-radius: 10px;
    width: 12rem;
    height: 13rem;
}

.fon {
    border: 0.9px solid #4A96A6;
    border-radius: 10px;

    width: 12rem;
    height: 13rem;
    background-color: white;
}

.hi {
    transform: translate(5px, 5px);
    top: 65%;
    left: 38%;
    font-size: 20px;
}

.hit {
    transform: translate(5px, 5px);
    top: 68%;
    left: 40%;
    font-size: 20px;
}

.ps {
    padding-left: 4rem;
}



svg {

    width: 90px;
    height: 90px;
}

.cir {
    fill: none;
    stroke: white;
    stroke-width: 9px;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    position: relative;
    stroke-dashoffset: 342;
    stroke-dasharray: 219;
}

textarea {
    resize: none;
}

.circl {
    fill: none;

    stroke: #3ba4b9;
    stroke-width: 9px;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    position: relative;


    stroke-dashoffset: 187;
    stroke-dasharray: 219;
}


/* ANALYSE NEGATIVES */

.ci {
    fill: none;
    stroke: whitesmoke;
    stroke-width: 9px;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    position: relative;

    stroke-dasharray: 237;
    stroke-dashoffset: 50;



    /* stroke-dashoffset: 209;
   stroke-dasharray:187;
  stroke-dashoffset: 342;
   stroke-dasharray: 219;*/

}


.circ {
    fill: none;

    stroke: #3ba4b9;
    stroke-width: 9px;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    position: relative;
    stroke-dashoffset: 383;
    stroke-dasharray: 410;

    /* stroke-dasharray: 219;
     stroke-dashoffset: 187;
     stroke-dasharray: 219;
     stroke-dasharray: 155 ;
    stroke-dashoffset: 185;*/

}

#svg {
    transform: rotate(-222deg);
}

/*suivi detallé*/
.tableau {
    font-size: 9px;
}

.box {
    background: linear-gradient(to right, green, orange, orange, red);
    width: 20rem;
    height: 7rem;
}

.org {
    background-color: orange;
}


a{
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(120, 118, 118);
}

li a:hover {
   
    background-color: #D6EBF2;
    border-radius: 10px;
    width: calc(100%);
    height: 3rem;
    padding-top: 0.7rem;
    border-radius: 10px;
    color: rgba(38, 36, 36, 0.5)
}



button {
    color: white;
}

button a:hover {
    color: white;
}


.back {
    background-color: rgb(232, 232, 232);

}

div input {
    width: 50%;
}

.clic {
    width: 6rem;
    height: 1.7%;
    color: white;
    background-color: #4A96A6;
}



.div {
    border-radius: 1rem;
}

.bg {
    background-color: #E7F9FD;
}

.gris {
    background-color: rgb(210, 209, 209);
}

.bg-red {
    background-color: red;
}

.btnn {
    background-color: #4A96A6;
}

.icon-search {
    background-image: url(images/searsh.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1rem;
}

.taille {
    padding-top: 2rem;
}


.blue {
    color: #00A7B0;
}


.green {
    color: #6FAE26;
}

.opac {
    opacity: 0.6;
}

.par {
    padding-top: 28rem;
}

.pare {
    padding-top: 80rem;
}

.Env {
    color: white;

}
.roun {
    border-radius: 1rem;
   font-size: 15px;
  
}

@media screen and (max-width:575px) {
    .roun {
        border-radius: 1rem;
       font-size: 9px;
      
    }
    .roun td {
        padding: 0;
    }
    .lab {
       font-size: 1.5rem;
       margin-top: -2.5rem;
      
    }
    .w-lg-25{
        text-align: center;
    }
   
   .cont{
    text-align: center;
    justify-content: center;
   }
  .sidebar{
    display: none;
  }
  
  /* Opened lightbox */
  .sidebar:target {
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

      
}

@media screen and  (max-width:1440px) {
   
  


}
@media all and (min-width:575px) and (max-width:991px) {
    .sidebar ul {
        padding-top: 10rem;
        text-align: center;
    }
}


.sign {
    background-color: #D6EBF2;
    border-radius: 10px;
    width: calc(100%);
    height: 3rem;
    padding-top: 0.7rem;
    padding-left: calc(20%);
   

}

@media screen and (min-width:2000px) {

}

.btn:hover {
    background-color: #4A96A6;
    color: white;
}
